In [86]:
import pandas as pd
answers = open('./Answers.txt', 'w')

tweets =  pd.read_csv('./archive/2010.csv', index_col=False)
tweets
x = tweets.shape[0]
for i in range(2011, 2022):
    more_tweets = pd.read_csv(f'./archive/{str(i)}.csv', index_col=False)
    x += more_tweets.shape[0]
    tweets = pd.concat([tweets, more_tweets], ignore_index=True)

tweets.drop(['Unnamed: 0'], axis=1, inplace=True)
tweets.head()

,id,conversation_id,created_at,date,timezone,place,tweet,language,hashtags,cashtags,...,geo,source,user_rt_id,user_rt,retweet_id,reply_to,retweet_date,translate,trans_src,trans_dest
0,15434727182,15434727182,1.275676e+12,2010-06-04 18:31:57,0,NaN,"Please ignore prior tweets, as that was someon...",en,[],[],...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
1,152153637639028736,152151847614943233,1.325111e+12,2011-12-28 22:27:08,0,NaN,@TheOnion So true :),en,[],[],...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
2,151809315026636800,151809315026636800,1.325029e+12,2011-12-27 23:38:55,0,NaN,If you ever wanted to know the *real* truth ab...,en,[],[],...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
3,151338939389706242,151338939389706242,1.324917e+12,2011-12-26 16:29:50,0,NaN,Walked around a neighborhood recently rebuilt ...,en,[],[],...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
4,151337237429239808,151337237429239808,1.324917e+12,2011-12-26 16:23:04,0,NaN,"It was Xmas, so we brought presents for the ki...",en,[],[],...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN

In [87]:
# Question 1
num_tweets = tweets.shape[0]
avg_nlikes = tweets['nlikes'].sum() / num_tweets
answers.write(str(avg_nlikes) + '\n')

In [90]:
# Question 2
total_views = (tweets['nlikes'].sum() + tweets['nreplies'].sum() + tweets['nretweets'].sum()) / 0.05
avg_view = total_views / num_tweets
answers.write(str(avg_views) + '\n')

14596239120.0

In [ ]:
answers.close()